@page "/"
@inject NavigationManager Navigation

<PageTitle>Windmills</PageTitle>

<div>
    <input placeholder="Search..." class="form-control searchbar" />
</div>

<div class="home col-12 d-flex flex-column mt-5">
    <div class="flex-row d-flex justify-content-evenly">
        <div class="col-4">
            <!-- First -->
            <div class="card" @onclick="() => {Redirect(1);}">
                <div class="card-title ">
                    <h2>Nordsø 1</h2>
                </div>
                <div class="card-body success">
                    <h5>High Priority</h5>
                    <p>Task 1</p>
                    <p>Task 2</p>
                    <p>Task 3</p>
                    <p>Task 4</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- Two -->
            <div class="card" @onclick="() => {Redirect(2);}">
                <div class="card-title">
                    <h2>Nordsø 2</h2>
                </div>
                <div class="card-body success">
                    <h5>High Priority</h5>
                    <p>Task 1</p>
                    <p>Task 2</p>
                    <p>Task 3</p>
                    <p>Task 4</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row d-flex justify-content-evenly mt-5">
        <div class="col-4">
            <!-- Third -->
            <div class="card" @onclick="() => {Redirect(3);}">
                <div class="card-title">
                    <h2>Nordsø 3</h2>
                </div>
                <div class="card-body success">
                    <h5>High Priority</h5>
                    <p>Task 1</p>
                    <p>Task 2</p>
                    <p>Task 3</p>
                    <p>Task 4</p>
                </div>
            </div>
        </div>
        <div class="col-4">

            <!-- Four -->
            <div class="card" @onclick="() => {Redirect(4);}">
                <div class="card-title">
                    <h2>Nordsø 4</h2>
                </div>
                <div class="card-body error">
                    <h5>High Priority</h5>
                    <p>Task 1</p>
                    <p>Task 2</p>
                    <p>Task 3</p>
                    <p>Task 4</p>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    public void Redirect(int id)
    {
        Navigation.NavigateTo("/windmills/" + id);
    }
}





